<div class='container'>
  <ul>
    <li>
      <a target='_blank' href='https://www.linkedin.com/in/leandro-baroni-06269118a/'>LinkedIn</a>
    </li>
    <li><span>&#11825;</span></li>
    <li>
      <a target='_blank' href='https://github.com/LeandroBaroni'>Github</a>
    </li>
    <li><span>&#11825;</span></li>
    <li>
      <a target='_blank' href='https://bsky.app/profile/leandrobaroni.bsky.social'>BlueSky</a>
    </li>
    <li><span>&#11825;</span></li>
    <li>
      <a target='_blank' href='https://portfolio-leandro-baroni.vercel.app'>Portfolio</a>
    </li>
  </ul>
</div>
