.container {
  max-width: 600px;
  width: 100%;
  margin-bottom: 1rem;

  .content {
    display: flex;
    flex-direction: row;
  }

  .separator {
    margin-top: 0.10px;
  }

  .picture {
    img {
      margin-right: 20px;
      max-width: 150px;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
