<div class='container_big_card'>
  <div class='picture'>
    <img
      ngSrc='https://i.stack.imgur.com/luaq2.png'
      fill
      alt=''
    />
  </div>
  <div class='title'>
    <h3>
      <a href=''>Saiu a nova versão do Angular</a>
    </h3>
  </div>
  <div class='description'>
      <a href=''>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum ex. Proin efficitur purus in eleifend tincidunt. Sed interdum aliquet hendrerit. Nunc scelerisque congue dui, ac dignissim ligula cursus sit amet. In ut sem ac dolor cursus ornare nec sed odio. Sed eu ex at diam rutrum accumsan.
    </p>
      </a>
  </div>
</div>
